
<%= render "typography" %>
<%= render "layout" %>

<%= render "heading", title: "New table styles, messages and buttons" %>
<div class="padded">
  <%= render "tables" %>
  <%= render "buttons" %>
</div>

<%= render "alerts" %>
<%= render "comments" %>
<%= render "blank_slate" %>
<%= render "activity" %>
<%= render "navigation" %>
<%= render "pagination" %>
<%= render "accordion" %>

<%= render "heading", title: "Modal window" %>

<div class="padded">
  <a class="btn" data-toggle="modal" href="#modal" >Launch Modal</a>
</div>
