@using Thinktecture.IdentityServer.Web.App_LocalResources.Account
@model Thinktecture.IdentityServer.Web.ViewModels.ForgotPasswordModel
@{
    ViewBag.Title = SignIn_cshtml.UsernamePasswordSignIn;
    ViewBag.HideMenu = true;
    var focusName = Html.NameFor ( m => m.UserName );
}

@if ( (bool) ( ViewData["PasswordResetSent"] ?? false ) )
{
    <h2>Your new password has been emailed to you.</h2>
    <a href="@Model.ReturnUrl">Log In</a>
}
else
{
    using( Html.BeginForm () )
     {
         @Html.AntiForgeryToken()
         @Html.ValidationSummary()
         <fieldset class="editor small signin">
             <legend>@ForgotPassword_cshtml.ForgotPassword</legend>
             @Html.HiddenFor( m => m.ReturnUrl )
             @if ( Model.SecurityQuestion == null )
             {
                 <div>
                     @Html.LabelFor( m => m.UserName )
                     @Html.TextBoxFor( m => m.UserName )
                     @Html.ValidationMessageFor( m => m.UserName )
                 </div>
             }
             else
             {
                 focusName = Html.NameFor(m => m.SecurityAnswer);
                 @Html.HiddenFor( m => m.UserName )
                 <div>
                     <h3>@Model.SecurityQuestion</h3>
                     @Html.TextBoxFor( m => m.SecurityAnswer )
                     @Html.ValidationMessageFor(m => m.SecurityAnswer)
                 </div>
             }

             <div class="buttons">
                 <input type="submit" value="Submit" />
             </div>
         </fieldset>
     }
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("@focusName").focus();
        });
    </script>
}