@using ProCenter.Mvc.Infrastructure.Extension
@model ProCenter.Service.Message.Patient.PatientDto


<div>
    <div class="span">
        @Html.LabelFor( m => m.Name.FirstName )
        @Html.TextBoxFor( m => m.Name.FirstName )
    </div>
    <div class="span">
        @Html.LabelFor( m => m.Name.LastName )
        @Html.TextBoxFor( m => m.Name.LastName )
    </div>
    <div>
        @Html.ValidationMessageFor( m => m.Name.FirstName )
        @Html.ValidationMessageFor( m => m.Name.LastName )
    </div>
    <div class="span">
        @Html.LabelFor( m => m.DateOfBirth )
        @Html.EditorFor(m => m.DateOfBirth)
        @Html.ValidationMessageFor( m => m.DateOfBirth )
    </div>
    <div class="span">
        @{
            var lookupCategory = Html.GetLookupCategory("Gender");
        }
        @Html.LabelFor( m => m.Gender )
        @Html.EditorFor(m => m.Gender, new { LookupItems = Html.GetLookupOptionsForCategory(lookupCategory), LookupCategory = lookupCategory })
        @Html.ValidationMessageFor( m => m.Gender )
    </div>
</div>


