@using System.Web.UI.WebControls
@using DevExpress.Web.Mvc.UI
@using DevExpress.XtraReports.Web
@using DevExpress.XtraReports.UI
@using ProCenter.Mvc.Views.ReportsCenter
@using ProCenter.Mvc.Views.Widgets

<div class="report-builder">
 
 
    <div id="content-templates" class="reportsBackground">
        <div class="content row-fluid">
            <div class="title savedReportsTemplatesTitle"><h5>@Widgets.Templates</h5></div>
            <ul class="template-list"></ul>
        </div>
    </div>
    <div id="content-saved-reports" class="reportsBackground">
        <div class="content row-fluid">
            <div class="title savedReportsTemplatesTitle"><h5>@Widgets.SavedReports</h5></div>
            <ul class="saved-list"></ul>
        </div>
    </div>

    <div id="content-parameters" class="content row-fluid">
        <div class="row-fluid">
            <div style="padding-left: 15px;">
                <div class="title reportTypeTitle"><h5>@Widgets.ReportType</h5></div>
                <label class="title sr-only" for="ReportType">@Widgets.ReportType</label>
                <input id="ReportType" type="text" placeholder="Search Reports" data-ajaxform-ignore="true" data-finder-url="" data-finder-display="DisplayName" />
            </div>
            <div class="report-parameters reportsBackground"></div>
        </div>
    </div>

    <div id="content-report-viewer">
        @Html.DevExpress().GetStyleSheets(
            new StyleSheet {ExtensionSuite = ExtensionSuite.NavigationAndLayout},
            new StyleSheet {ExtensionSuite = ExtensionSuite.Editors},
            new StyleSheet {ExtensionSuite = ExtensionSuite.HtmlEditor},
            new StyleSheet {ExtensionSuite = ExtensionSuite.GridView},
            new StyleSheet {ExtensionSuite = ExtensionSuite.PivotGrid},
            new StyleSheet {ExtensionSuite = ExtensionSuite.Chart},
            new StyleSheet {ExtensionSuite = ExtensionSuite.Report},
            new StyleSheet {ExtensionSuite = ExtensionSuite.Scheduler},
            new StyleSheet {ExtensionSuite = ExtensionSuite.TreeList}
            )
        @Html.DevExpress().GetScripts(
            new Script {ExtensionSuite = ExtensionSuite.NavigationAndLayout},
            new Script {ExtensionSuite = ExtensionSuite.HtmlEditor},
            new Script {ExtensionSuite = ExtensionSuite.GridView},
            new Script {ExtensionSuite = ExtensionSuite.PivotGrid},
            new Script {ExtensionSuite = ExtensionSuite.Editors},
            new Script {ExtensionSuite = ExtensionSuite.Chart},
            new Script {ExtensionSuite = ExtensionSuite.Report},
            new Script {ExtensionSuite = ExtensionSuite.Scheduler},
            new Script {ExtensionSuite = ExtensionSuite.TreeList}
            )
        @Html.DevExpress().ReportToolbar( s =>
        {
            // The following settings are necessary for a Report Toolbar. 
            s.Name = "ReportToolbar";
            s.Width = Unit.Percentage ( 100 );
            s.ReportViewerName = "reportViewer1";

            // The following code defines the list of export formats available for the Report Toolbar. 
            var saveFormat = new ReportToolbarComboBox {ItemKind = ReportToolbarItemKind.SaveFormat, Width = new Unit ( 70, UnitType.Pixel )};
            saveFormat.Elements.AddRange ( new[]
            {
                new ListElement {Value = "pdf", Text = "Pdf"},
                new ListElement {Value = "xls", Text = "Xls"},
                new ListElement {Value = "xlsx", Text = "Xlsx"},
                new ListElement {Value = "rtf", Text = "Rtf"},
                new ListElement {Value = "mht", Text = "Mht"},
                new ListElement {Value = "txt", Text = "Txt"},
                new ListElement {Value = "csv", Text = "Csv"},
                new ListElement {Value = "png", Text = "Image"},
            } );

            // The following code defines the items that the Report Toolbar contains. 
            s.Items.AddRange ( new ReportToolbarItem[]
            {
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.Custom, ToolTip = Widgets.SaveToReportCenter, ImageUrl = "/images/Save_16x16.png", Name = "SaveReport"},
                new ReportToolbarSeparator (),
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.PrintReport},
                new ReportToolbarSeparator (),
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.FirstPage},
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.PreviousPage},
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.NextPage},
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.LastPage},
                new ReportToolbarLabel {ItemKind = ReportToolbarItemKind.PageLabel},
                new ReportToolbarComboBox 
                {
                    ItemKind = ReportToolbarItemKind.PageNumber,
                    Width = new Unit ( 65, UnitType.Pixel )
                },
                new ReportToolbarLabel {ItemKind = ReportToolbarItemKind.OfLabel},
                new ReportToolbarTextBox {ItemKind = ReportToolbarItemKind.PageCount},
                new ReportToolbarSeparator (),
                new ReportToolbarButton {ItemKind = ReportToolbarItemKind.SaveToWindow, ImageUrl = "/images/Export_16x16.png", Name = "ExportReport"}, saveFormat,
                new ReportToolbarSeparator (),
            } );
            s.ClientSideEvents.ItemClick = "window.procenter.reportToolbarItemClick";
        } ).GetHtml()
        <div class="report-content">
            @Html.Partial( "../Report/ReportBuilderViewerPartial", new XtraReport () )
        </div>
        <div id="no-report-data" style="display: none;">@Widgets.ReportNoData</div>
    </div>
</div>

