@using ProCenter.Mvc.Infrastructure.Extension
@model ProCenter.Mvc.Models.ScoreHeaderViewModel

@{
    var scoreSummary = Model.Score == null || Model.Score.Value == null || ( Model.Score.Value is bool && (bool)Model.Score.Value) ? "Scored" : "Score: " + Model.Score.Value;
}

@if(Model.Score != null)
{
    <div class="guidance-header" data-expander-summary="@scoreSummary">
        <div class="alert fade in">
            <div><strong>This assessment has been submitted and is readonly.</strong></div>
            @if ( Model.Score != null && Model.Score.GuidanceCode != null )
            {
                <span>Score: @Model.Score.Value</span>
                <span>@Html.GetResource( Model.Score.GuidanceCode )</span>
            }
        </div>
    </div>
}
@if (Model.Messages != null && Model.Messages.Any())
{
    <div class="messages-header"  data-expander-summary="Actions (@Model.Messages.Count())" data-expander-summary-location="right">
        @foreach (var message in Model.Messages)
        {
            @Html.DisplayFor(m => message)
        }
    </div>
}