<div class="mid-container wrapper">
  <h1 class="title">Sign In</h1>
  <form>
    <ul class="fields">
      <li>
        <i class="icon-user"></i>
        <%= text_field_tag :username, nil, placeholder: "username", autocomplete: "off" %>
      </li>
      <li>
        <i class="icon-key"></i>
        <%= password_field_tag :password, nil, placeholder: "password", autocomplete: "off" %>
      </li>
    </ul>

    <div class="mid-form">
      <span class="login-checkbox pull-left">
        <%= check_box_tag :remember_me %>
        <%= label_tag :remember_me %>
      </span>

      <%= submit_tag "Sign In", class: "btn blue large pull-right" %>
    </div>

    <div class="inset-margin">

      <%= link_to "#", class: "btn btn-twitter btn-block" do %>
          <i class="icon-twitter-sign"></i> Login with Twitter
      <% end %>
      <%= link_to "#", class: "btn btn-facebook btn-block" do %>
          <i class="icon-facebook-sign"></i> Login with Facebook
      <% end %>
    </div>

  </form>

  <div class="mid-footer">
    Don't have an account yet? <%= link_to "Register here", register_path %>
  </div>
</div>