<div class="mid-container wrapper">
  <h1 class="title">Create your account</h1>
  <form>
    <ul class="fields">
      <li>
        <i class="icon-envelope"></i>
        <%= text_field_tag :email, nil, placeholder: "email", autocomplete: "off" %>
      </li>
      <li>
        <i class="icon-user"></i>
        <%= text_field_tag :firstname, nil, placeholder: "first name", autocomplete: "off" %>
      </li>
      <li>
        <i class="icon-user"></i>
        <%= text_field_tag :lastname, nil, placeholder: "last name", autocomplete: "off" %>
      </li>
      <li>
        <i class="icon-key"></i>
        <%= password_field_tag :password, nil, placeholder: "password", autocomplete: "off" %>
      </li>
      <li>
        <i class="icon-key"></i>
        <%= password_field_tag :password_confirm, nil, placeholder: "confirm password", autocomplete: "off" %>
      </li>
    </ul>

    <div class="mid-form">
      <span class="login-checkbox">
        <%= check_box_tag :agree %>
        <%= label_tag :agree, "I have read and agree with the Terms of Use." %>
      </span>
      <%= submit_tag "Sign Up", class: "btn blue large pull-right" %>
    </div>

    <div class="inset-margin">

      <%= link_to "#", class: "btn btn-twitter" do %>
          <i class="icon-twitter-sign"></i> Login with Twitter
      <% end %>
      <%= link_to "#", class: "btn btn-facebook" do %>
          <i class="icon-facebook-sign"></i> Login with Facebook
      <% end %>
    </div>

  </form>

  <div class="mid-footer">
    Already have an account? <%= link_to "Login here", login_path %>
  </div>
</div>
