@using ProCenter.Mvc.Infrastructure.Extension
@using ProCenter.Mvc.Views.Shared
@using ProCenter.Service.Message.Patient

@model ProCenter.Service.Message.Message.AssessmentReminderDto

@{
    var patient = ViewData["Patient"] as PatientDto;
    var message = string.Format ( @Shared.ConmpleteAssessmentMessage,
        patient.FullName (),
        Model.AssessmentName,
        Model.Start );
}

<div class="reminder-message @Model.Key">
    <div class="feed-left"></div>
    <div class="feed-right" data-icon="&#xe04c;">
        <div class="title">@message</div>
        <div class="tools">
            @Html.ActionLink( @Shared.AdministerAssessmentNowButton, "AdministerAssessment", "AssessmentReminder", new {key = Model.Key, patientKey = Model.PatientKey, assessmentDefinitionKey = Model.AssessmentDefinitionKey, recurrenceKey = Model.RecurrenceKey}, new {@class = "btn btn-success", aria_label = @message + " " + @Shared.AdministerAssessmentNowButton } )
        </div>
    </div>
    @Html.ActionLink( " ", "Acknowledge", "AssessmentReminder", new {key = Model.Key, assessmentKey = Model.Key, patientKey = Model.PatientKey, recurrenceKey = Model.RecurrenceKey}, new {@class = "btn btn-danger btn-acknowledge", data_icon = "\ue0fd", aria_label = @message + " " + Shared.Cancel} )
    <div class="clearfix"></div>
</div>