@using System.Collections.Generic
@using ProCenter.Mvc.Views.Shared
@model bool?
@{
    var yesAttributes = new Dictionary<string, object> ();
    var noAttributes = new Dictionary<string, object> ();
    var ariaLabel = ViewData["section"] + " " + ViewData["group"]  + " " + ViewData["labelString"];

    if ( Model == true )
    {
        yesAttributes.Add ( "checked", "checked" );
    }
    else if (Model == false)
    {
        noAttributes.Add("checked", "checked");
    }
    noAttributes.Add("id", ViewData["id"]);
    yesAttributes.Add("id", ViewData["id"]);
}

<div class="yesno-radiobuttons">
    <label>@Html.RadioButtonFor( m => m, true, yesAttributes )<span aria-label="@ariaLabel, @Shared.Yes @Shared.Button" tabindex="0">@Shared.Yes</span></label>
    <label>@Html.RadioButtonFor( m => m, false, noAttributes )<span aria-label="@ariaLabel, @Shared.No @Shared.Button" tabindex="0">@Shared.No</span></label>
</div>