@using ProCenter.Mvc.Infrastructure.Extension
@model ProCenter.Service.Message.Organization.OrganizationPhoneDto

@{
    var lookupCategory = Html.GetLookupCategory("OrganizationPhoneType");
}

<div class="@Html.ViewData.ModelMetadata.ModelType.Name sub-question">
    @Html.EditorFor(m => m.OrganizationPhoneType, new { LookupItems = Html.GetLookupOptionsForCategory(lookupCategory), LookupCategory = lookupCategory, Placeholder = Html.DisplayNameFor(m => m.OrganizationPhoneType) })
    @Html.CheckBoxFor(m => m.IsPrimary)
    @Html.LabelFor(m => m.IsPrimary)
    @Html.HiddenFor( m => m.OriginalHash )
</div>
@Html.EditorFor(m => m.Phone)